<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Bachelors in Computer Science</h1>
            <span>Fachhochschule Nordwestschweiz</span>
            <span><address>Brugg</address><time>2016 to 2018</time></span>
        </header>
        <p>
            <em>Specialisation: Information Processing and Visualisation</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Bachelors in Computer Science</h1>
            <span>ETH Zurich</span>
            <span><address>Zurich</address><time>2006 to 2008</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Bachelors in Agricultural Sciences</h1>
            <span>ETH Zurich</span>
            <span><address>Zurich</address><time>2004 to 2006</time></span>
        </header>
    </article>
</section>
