<section class="thirteen columns">
    <h1>Employment</h1>
<article>
	<header><h1>Tech Lead/Team Lead</h1><span><address>Swiss Data Science Center (ETH Zürich), Zürich</address><time>Aug 20 - Now</time></header>
	
	<p>Leading technical direction of the Renku open-source data science platform. Leading the backend services development team. Developing backend services of the Renku platform, built on Python, Go, Kubernetes</p>
</article>

<article>
	<header><h1>Senior Software Engineer</h1><span><address>Swiss Data Science Center (ETH Zürich), Zürich</address><time>Aug 19 - Aug 20</time></header>
	
	<p><p>Implementing services in Python and Go. Planning and designing new features of the Renku platform. Developing the Renku CLI. Designing and improving the architecture of the Renku platform. Python, Go, Kubernetes</p>
</article>

<article>
	<header><h1>Research Engineer</h1><span><address>EPFL, Lausanne</address><time>Jun 18 - Aug 19</time></header>
	
	<p>Created the open-source mlbench distributed machine learning benchmarking platform with Python, Pytorch, Docker and Kubernetes.</p>
</article>

<article>
	<header><h1>CTO</h1><span><address>SpinningBytes AG, Winterthur</address><time>Apr 17 - Aug 19</time></header>
	
	<p>Developing machine learning (Natural Language Processing) solutions for customer projects with Python, Pytorch, Sklearn, Gensim. Hiring employees, mentoring junior developers, contributing to research papers, managing project.</p>
</article>

<article>
	<header><h1>Senior Software Engineer</h1><span><address>ASE GmbH, Zürich</address><time>Sep 13 - Dec 16</time></header>
	
	<p>Created products for people flow analysis, infrastructure maintenance and pedestrian traffic monitoring, using C\#, ASP.Net, Python, Docker, Kafka</p>
</article>

<article>
	<header><h1>Software Engineer</h1><span><address>BTC Schweiz AG, Rümlang</address><time>Jun 11 - May 13</time></header>
	
	<p>Built an ECM Product used by several Swiss government agencies using C\# and Java</p>
</article>

<article>
	<header><h1>Software Engineer</h1><span><address>JMC Software AG, Rotkreuz</address><time>Aug 10 - Jun 11</time></header>
	
	<p>Designed and built customer homepages with C\# and PHP, managed on-prem datacenter, technical consulting. </p>
</article>

<article>
	<header><h1>Application Developer</h1><span><address>Swissclick AG, Kloten</address><time>Sep 08 - Aug 10</time></header>
	
	<p><p>Built customer homepages and managed and extended the jobclick.ch and immoclick.ch job/real estate platforms, using Java, Coldfusion and C\#. Deputy IT lead, project manager for external developers. </p></p>
</article>

<article>
	<header><h1>Software Engineer</h1><span><address>Freelancer, Schaffhausen</address><time>Aug 03 - Aug 08</time></header>
	
	<p>Created homepages with PHP part time during studies, including the online shop for  detergent manufacturer Pudol.</p>
    </article>
</section>
