<section class="thirteen columns">
  <h1>Publications</h1>

  <article>
<header><h1>Renku: a platform for sustainable data science</h1><span>NeurIPS 2023</span></header>
	<p>Conference on Neural Information Processing Systems</p> 
</article>

  <article>
<header><h1>Correlating Twitter Language with Community-Level Health Outcomes</h1><span>ACL 2019</span></header>
	<p>Association for Computational Linguistics</p> 
</article>

  <article>
<header><h1>WORD UNIGRAM WEIGHING FOR AUTHOR PROFILING AT PAN</h1><span>CLEF 2018</span></header>
	<p>Proceedings of the Ninth International Conference of the CLEF Association</p> 
</article>

  <article>
<header><h1>TWIST BYTES - GERMAN DIALECT IDENTIFICATION WITH DATA MINING OPTIMIZATION</h1><span>VarDial 2018</span></header>
	<p>Proceedings of the Fifth Workshop on NLP for Similar Languages, Varieties and Dialects</p> 
</article>

  <article>
<header><h1>SB-CH: A SWISS GERMAN CORPUS WITH SENTIMENT ANNOTATIONS</h1><span>LREC 2018</span></header>
	<p>Language Resources and Evaluation Conference</p> 
</article>

  <article>
<header><h1>SPMMMP AT GERMEVAL 2018 SHARED TASK: CLASSIFICATION OF OFFENSIVE CONTENT IN TWEETS USING CONVOLUTIONAL NEURAL NETWORKS AND GATED RECURRENT UNITS</h1><span>KONVENS 2018</span></header>
	<p>Verlag der Österreichischen Akademie der Wissenschaften</p> 
</article>
</section>
